.git
.github
.venv
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.env
.env.*
dbt/target
dbt/logs
dbt/dbt_packages
*.md
query.prql
docker-compose.yml
scripts/prefect_bootstrap.sh
scripts/parse_database_url.sh
main.py
Dockerfile
